<div th:replace="fragments/header :: header"></div>
<body class="bg-info-subtle">
  <div class="container p-2">
    <div class="row">
      <div class="col-md-8 offset-md-2">
        <div class="card">
          <div class="card-body">
            <div class="col text-center fs-2 fw-semibold text-primary fst-italic py-1">Registration Form</div>
            <form th:action="@{/register}" method="POST"  id="formRegistration" th:object=${UserDetails}>
            <div class="row">
              <div class="col-md-4">
                <label for="First Name" class="form-label">First Name<span class="text-danger">*</span></label>
                <input type="text" class="form-control" name="firstName" th:field="*{firstName}" id="inputFirstName" placeholder="Enter first name">
              </div>
              <div class="col-md-4">
                <label for="Middle Name" class="form-label">Middle Name</label>
                <input type="text" class="form-control" name="middleName" th:field="*{middleName}" id="inputMiddleName" placeholder="Enter Middle name">
              </div>
              <div class="col-md-4">
                <label for="Last Name" class="form-label">Last Name<span class="text-danger">*</span></label>
                <input type="text" class="form-control" name="lastName" th:field="*{lastName}" id="inputLastName" placeholder="Enter last name">
              </div>
              <div class="col-md-6">
                <label for="Date of birth" class="form-label">DOB<span class="text-danger">*</span></label>
                <input type="date" class="form-control" name="dob" th:field="*{dob}" id="inputDOB">
              </div>
              <div class="col-md-6">
                <label for="Gendar" class="form-label">Gender<span class="text-danger">*</span></label>
                <div class="col-sm-10">
                  <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="gender" th:field="*{gender}" value="male">
                    <label class="form-check-label" for="Gendar">
                      Male
                    </label>
                  </div>
                  <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="gender" th:field="*{gender}" value="female">
                    <label class="form-check-label" for="Gendar">
                      Female
                    </label>
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <label for="Mobile Number" class="form-label">Mobile Number<span class="text-danger">*</span></label>
                <input type="text" class="form-control" name="mobNumber" th:field="*{mobNumber}" id="inputMobileNo" placeholder="Enter mobile no">
              </div>
              <div class="col-md-6">
                <div class="row">
                  <div class="col">
                    <label for="Email address" class="form-label">Email<span class="text-danger">*</span></label>
                  </div>
                  <div class="col text-end">
                    <a href="#"><label for="Email varification" class="form-label float-right">Verify</label></a>
                  </div>
                </div>
                <input type="email" class="form-control" name="email" th:field="*{email}" id="inputEmail" placeholder="Enter email address">
              </div>
              <div class="col-md-6">
                <label for="Password" class="form-label">Password<span class="text-danger">*</span></label>
                <input type="password" class="form-control" name="password" th:field="*{password}" id="inputPassword" placeholder="Enter password">
              </div>
              <div class="col-md-6">
                <label for="Confirm Password" class="form-label">Confirm Password<span class="text-danger">*</span></label>
                <input type="password" class="form-control" id="inputConfirmPassword" placeholder="Enter confirm password">
              </div>
              <div class="col-12">
                <label for="Address line 1" class="form-label">Address<span class="text-danger">*</span></label>
                <input type="text" class="form-control" name="address1" th:field="*{address1}" id="inputAddress" placeholder="Enter address line 1">
              </div>
              <div class="col-12">
                <label for="Address line 2" class="form-label">Address 2</label>
                <input type="text" class="form-control" name = "address2" th:field="*{address2}" id="inputAddress1" placeholder="Enter address line 2">
              </div>
              <div class="col-md-6">
                <label for="City" class="form-label">City<span class="text-danger">*</span></label>
                <input type="text" class="form-control" name="city" th:field="*{city}" id="inputCity" placeholder="Enter city name">
              </div>
              <div class="col-md-4">
                <label for="State" class="form-label">State<span class="text-danger">*</span></label>
                <select id="inputState" class="form-select" name="state" th:field="*{state}">
                  <div th:replace="fragments/state :: state"></div>
                </select>
              </div>
              <div class="col-md-2">
                <label for="Zip" class="form-label">Zip<span class="text-danger">*</span></label>
                <input type="text" class="form-control" name="zip" th:field="*{zip}" id="inputZipCode"  placeholder="Zip code">
              </div>
              <div class="col-12">
                  <label class="form-check-label fs-6 text-danger" for="gridCheck">* fields are mandatory.</label>
              </div>
              <div class="text-center">
                <button type="submit" class="btn btn-primary" onclick="return validateRegistrationForm()">Sign in</button>
                <button type="Reset" class="btn btn-primary" id="formResetId">Reset</button>
              </div>
              <div class="text-center mt-2">Already Register? <a href="../">Login</a></div>
            </div>
          </form>
          </div>
        </div>
      </div>
    </div>
  </div>
 <div th:replace="fragments/toast :: toast"></div>
</body>

</html>