<state>
	<option value="-1">Choose...</option>
	<option th:value="@{Andhra Pradesh}">Andhra Pradesh</option>
	<option th:value="@{Arunachal}">Arunachal</option>
	<option th:value="@{Assam}">Assam</option>
	<option th:value="@{Bihar}">Bihar</option>
	<option th:value="@{Chhattisgarh}">Chhattisgarh</option>
	<option th:value="@{Goa}">Goa</option>
	<option th:value="@{Gujarat}">Gujarat</option>
	<option th:value="@{Haryana}">Haryana</option>
	<option th:value="@{Himachal}">Himachal</option>
	<option th:value="@{Jharkhand}">Jharkhand</option>
	<option th:value="@{Karnataka}">Karnataka</option>
	<option th:value="@{Kerala}">Kerala</option>
	<option th:value="@{Madhya}">Madhya</option>
	<option th:value="@{Maharashtra}">Maharashtra</option>
	<option th:value="@{Manipur}">Manipur</option>
	<option th:value="@{Meghalaya}">Meghalaya</option>
	<option th:value="@{Mizoram}">Mizoram</option>
	<option th:value="@{Nagaland}">Nagaland</option>
	<option th:value="@{Odisha}">Odisha</option>
	<option th:value="@{Punjab}">Punjab</option>
	<option th:value="@{Rajasthan}">Rajasthan</option>
	<option th:value="@{Sikkim}">Sikkim</option>
	<option th:value="@{Tamil Nadu}">Tamil Nadu</option>
	<option th:value="@{Telangana}">Telangana</option>
	<option th:value="@{Tripura}">Tripura</option>
	<option th:value="@{Uttar Pradesh}">Uttar Pradesh</option>
	<option th:value="@{Uttarakhand}">Uttarakhand</option>
	<option th:value="@{West Bengal}">West Bengal</option>
</state>