.login-box-top{
    margin-top: 80px;
}

.login-error-toast-position{
    position: fixed;
    top: 10px;
    right: 10px;
}
.form-label{
	margin-bottom: 0.25rem !important;
    margin-top: 0.5rem !important;
}