 <div th:replace="fragments/header :: header"></div>
<body class="bg-info-subtle">
    <div class="container login-box-top">
        <div class="row offset-lg-4 col-lg-4 justify-content-md-center border rounded bg-dark-subtle">
            <form action="" method="get">
                <div class="col text-center fs-2 fw-semibold text-primary fst-italic py-2">Login</div>
                <div class="mb-3">
                    <input type="text" class="form-control" id="inputUserId" placeholder="Enter your user id / email id">
                </div>
                <div class="mb-3">
                    <input type="text" class="form-control" id="inputPassword" placeholder="Enter your password">
                </div>
                <div class="row mb-3">
                    <div class="col d-flex">
                      <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="form2Example31" checked="">
                        <label class="form-check-label" for="form2Example31"> Remember me </label>
                      </div>
                    </div>
                    <div class="col text-end">
                      <a href="#!">Forgot password?</a>
                    </div>
                  </div>
                <div class="row mb-3">
                    <div class="col text-center">
                        <button class="btn btn-primary btn-sm" onclick="return validateLoginForm()" type="submit">Submit</button>
                        <button class="btn btn-primary btn-sm" type="reset">Reset</button>
                    </div>
                </div>
                <div class="text-center">Not a member? <a th:href="@{register}">Register</a></div>
            </form>
        </div>
    </div>
    <div th:replace="fragments/toast :: toast"></div>
</body>

</html>